attrs==26.1.0
dlinfo==2.0.0
espeakng-loader==0.2.4
flatbuffers==25.12.19
joblib==1.5.3
kokoro-onnx==0.6.1
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
numpy==2.5.2
onnxruntime==1.29.0
packaging==26.3
phonemizer==3.4.0
platformdirs==4.11.3
protobuf==7.36.0
Pygments==2.21.0
rich==15.0.0
textual==8.2.8
typing_extensions==4.16.0
uc-micro-py==2.0.0
